
  <div class="col-md-4 col-md-offset-4">
    <div class="alert alert-success">
      <strong> Booking created successfully. </strong>
      <%= link_to "Search Again", root_path, :"data-no-turbolink" => true %>
    </div>
  </div>
